<!DOCTYPE html>
<html lang="es">
<%- include('partials/head', {title: 'Calcular resistencia' }) %>

  <body>
    <%- include('partials/nav', {navtitle: 'Calcular la resistencia' }) %>
      <main class="main-calculadoras">
        <form action="/resistencia" method="post">
          <label for="voltaje">Introduzca el valor del voltaje (V): </label>
          <input class="textarea" type="number" step="any" id="voltaje" name="voltaje">
          <label for="corriente">Introduzca el valor de la intensidad/corriente (I): </label>
          <input class="textarea" type="number" step="any" id="corriente" name="corriente">
          <input class="boton" type="submit" value="Calcular">
        </form>
        <h3>Registros anteriores</h3>
        <section class="section-calculadoras">
          <ul>
            <% if(registro) { %>
              <% registro.forEach(result=> { %>
                <li>
                  <p>
                    <%= result.valor_voltaje %> V / <%= result.valor_corriente %> A = <%= result.valor_resultado %> Ω
                  </p>
                </li>
                <% }) %>
                  <% } %>
          </ul>
          <img class="formulas" src="img/resistencia.png">
        </section>
      </main>
  </body>

</html>